@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@400;700&display=swap');

:root {
  --vp-font-family-base: "Noto Sans SC", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
  --vp-font-family-mono: "JetBrains Mono", "Maple Mono NF CN", "Fira Code", "SF Mono", "Monaco", "Inconsolata", "Roboto Mono", "Source Code Pro", "Consolas", "Courier New", ui-monospace, "Menlo", "Liberation Mono", "Courier New", monospace;
}

html {
  scroll-behavior: smooth;
  overflow-y: scroll;
}

.VPNavBarTitle>.title {
  font-size: 1.2em;
  color: var(--vp-c-brand-1);
  transition: all 0.1s ease-in-out;

  &:hover {
    color: var(--vp-c-brand-4);
  }
}

.heading>.name {
  max-width: 100%;
}

.menu-text {
  font-size: medium;
}

::view-transition-old(*) {
  animation: none;
}
::view-transition-new(*) {
  animation: globalDark .2s ease-in;
}

@keyframes globalDark {
  from {
    clip-path: circle(0% at var(--darkX) var(--darkY));
  }
  to {
    clip-path: circle(120% at var(--darkX) var(--darkY));
  }
}

.dark img {
    filter: brightness(0.8);
}

.vp-doc table {
  display: block;
  width: fit-content;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  overflow-x: auto;
}

.mermaid {
  display: flex;
  justify-content: center;
}